.noteContainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 5% 2% 0% 2%;
}

/* .noteItem {
    width: 300px;
    height: 400px;
    background-color: rgb(183, 162, 0);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    margin: 20px 20px 0px 0px;
    padding: 10px 15px 10px 10px;
    transition: .4s background-color;
    position: relative;
}

.menuIcon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5px;
    right: 0px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: none;
    transition: .4s background-color;
}
.menuIcon:hover{
    background-color: rgba(168, 168, 168, 0.522);
}
.menuIcon span {
    font-size: 25px;
    color: #000;
    font-weight: bolder;
}

.title {
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px ;
    color: #000;
}

.hrLine {
    border: 1px solid rgba(0, 0, 0, 0.138);
    margin-top: 10px;
}

.details {
    font-size: 12px;
    margin-top: 10px;
    color: #000;
}

.noteItem:hover {
    background-color: rgba(183, 162, 0, 0.816);
    cursor: pointer;
}

.dropdown {
    background-color: #000;
    list-style: none;
    width: 100px;
    position: absolute;
    top: 40px;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0px 15px 0px;
    border-radius: 10px;
    display: none;
}

.menuIcon:hover + .dropdown {
    display: block;
}

.dropdown:hover {
    display: block;
}

.dropdown li {
    font-size: 12px;
    color: rgb(183, 162, 0);
    border-bottom: 1px solid rgba(183, 162, 0, 0.475);
    width: 100%;
    padding: 3px 10px 3px 10px;
}

.dropdown li:hover{
    background-color: #242424;
} */