/* NAVIGATION */
.navContainer {
    width: 100%;
    height: 100px;
}

/* NAVIGATION */
.navContainer nav {
    width: 80%;
    margin: 0 auto;
    background: #000000;
    padding: 20px 10px 20px 10px;
  }
  .navContainer nav ul {
    list-style: none;
    text-align: center;
  }
  .navContainer nav ul li {
    display: inline-block;
  }
  .navContainer nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #c0c0c0;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
  }
  .navContainer nav ul li a,
  .navContainer nav ul li a:after,
  .navContainer nav ul li a:before {
    transition: all .5s;
  }
  .navContainer nav ul li a:hover {
    color: #ffffff;
  }
  
  
  /* stroke */
  .navContainer nav.stroke ul li a {
    position: relative;
  }
  .navContainer nav.stroke ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #ffffff;
    height: 1px;
  }
  .navContainer nav.stroke ul li a:hover:after {
    width: 100%;
  }

