.typeCon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}
.typeCon .text {
  font-size: 14px;
  cursor: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.typeCon .blink_line {
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-duration: 1s;
  margin-left: 5px;
  display: inline-block;
  width: 2px;
  height: 25px;
  margin-left: 5px;
  background-color: white;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@keyframes blinker {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
